<ion-header>
  <ion-toolbar>
    <ion-title>Passagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      Compra de Passagem
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label> Nome: </ion-label>
        <ion-input [(ngModel)]="passagem.passagem"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label> ID: </ion-label>
        <ion-input [(ngModel)]="passagem.id"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label> CreatedAt: </ion-label>
        <ion-input [(ngModel)]="passagem.createdAt"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label> Origem: </ion-label>
        <ion-input [(ngModel)]="passagem.origem"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label> Destino: </ion-label>
        <ion-input [(ngModel)]="passagem.destino"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label> Poltrona: </ion-label>
        <ion-input [(ngModel)]="passagem.poltrona"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label> Valor: </ion-label>
        <ion-input [(ngModel)]="passagem.valor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label> Data: </ion-label>
        <ion-input [(ngModel)]="passagem.data"></ion-input>
      </ion-item>

      <ion-item>
        <img src="{{passagem.url}}" alt="">
        <ion-button (click)="take_picture()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-button expand="full" (click)="add()">Ok</ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>